# Ignore the entire COCO_SET folder
RCNN_MODELS/COCO_SET/

RCNN_MODELS/COCO_SET2/

# Ignore the entire dataset folder
YOLO_MODELS/NEW/dataset/

# Ignore all .log files
*.txt

*.jpg

*.json

*.pth

*.png
